* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #EFF9FB;
}

.App {
    font-family: Lato;
    color: #1C1D23;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title {
    color: #123E89;
    font-size: 54px;
    padding: 20px;
}

.new-password-button {
    margin: 30px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    font-family: Lato;
    font-size: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    color: #FCFDFF;
    background-color: #0C8896;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.password {
    margin: 10px;
    width: 74%;
    height: 60px;
    max-width: 500px;
    background-color: #FCFDFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border-radius: 10rem;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
}

.new-password {
    position: absolute;
    width: 74vw;
    max-width: 400px;
    height: 74vw;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #FCFDFF;
}